<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Hangman game</title>

    <!-- Extra styling -->
    <style>
      body {
        background-image: url('/static/img.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        zoom:110%;
      }
    </style>

    <!-- Bootstrap -->
    <link rel="stylesheet"
          href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='main.css') }}">
          
  </head>
  <body>
    <!-- Added Language switcher -->
    <div class="container text-center" style="margin: 20px;">
      <nav class="navbar">
        <div class="container">
          <ul class="navbar-list navbar-left">
            <!-- Nav links -->
          </ul>
          <div class="navbar-right">
            <!--data-i18n-switcher attribute linked to function definition in i18n.js -->
            <select data-i18n-switcher class="locale-switcher"> 
              <!-- Language options -->
              <option value="en">English</option>
              <option value="fr">French (française)</option>
            </select>
          </div>
        </div>
      </nav>
      <!-- all texts with data-i18n-key attribute will be tapped into 
        when document loads, and replaced with translated texts -->
      <h1 style="font-family:Verdana; font-weight: bold;" data-i18n-key="app-title">Hangman game</h1>

      <div class="row vspace">
        <div class="col-md-6 col-md-offset-3"> <!-- displays unknown word -->
          {% block content %}{% endblock %}
        </div>
      </div>
      
    </div>

    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='i18n.js') }}"></script>

    {% block bottom %}{% endblock %}
  </body>
</html>
