{% extends 'index.html' %}

{% block content %}
  <form action="{{ url_for('new_game') }}" class="form-inline">
    <div class="form-group vspace">
      <input maxlength=10 name="player" class="input-lg" required="required"
        data-i18n-key="[placeholder]placeholder", placeholder="Your name">
      <button class="btn btn-primary btn-lg" type="submit" data-i18n-key="play">Play!</button>
    </div>
  </form>

  <div class="panel panel-default vspace">
    <div class="panel-heading" data-i18n-key="top">Top 10</div>
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th data-i18n-key="player">Player!</th>
          <th data-i18n-key="word">Word</th>
          <th data-i18n-key="error">Errors</th>
          <th data-i18n-key="point">Points</th>
      <tbody>
        {% for game in games %}
          <tr>
            <td>{{ loop.index }}</td>
            <td>{{ game.player }}</td>
            <td class="text-success">{{ game.current }}</td>
            <td class="text-danger spaced">{{ game.errors }}</td>
            <td>{{ game.points }}</td>
        {% endfor %}
    </table>
  </div>
{% endblock %}
