<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Hangman game</title>

    <!-- Extra styling -->
    <style>
      body {
        background-image: url('/static/img.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        zoom:110%;
      }
    </style>

    <!-- Bootstrap -->
    <link rel="stylesheet"
          href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='main.css') }}">
    
    <!-- Google fonts -->
    <link rel="stylesheet" 
    href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap">

  </head>
  <body>
    <div class="container text-center" style="margin-top: 20px;">
      {% block top %}{% endblock %}
      <!-- all texts with data-i18n-key attribute will be tapped into 
        when document loads, and replaced with translated texts -->
      <h1 style="font-family:Fredericka the Great,Helvetica; font-weight: bold; font-size:350%; margin-bottom:30px;" 
          data-i18n-key="app-title">Hangman game</h1>

      <div class="row vspace">
        <div class="col-md-6 col-md-offset-3"> <!-- displays unknown word -->
          {% block content %}{% endblock %}
        </div>
      </div>
    </div>

    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='i18n.js') }}"></script>

    {% block bottom %}{% endblock %}
  </body>
</html>
